.container {
    width: 50%;
    height: 100px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #235c00;
}

.container__player1 {
    float: left;
}

.container__player2 {
    float: right;
}

.container button {
    background-color: rgb(181, 13, 214);
    color: #fff;
    padding: 15px;
    font-weight: bold;
    border: 1px solid rgb(181, 13, 214);
}

@media only screen and (max-width: 768px){
    .container { 
        width: 100%;
    }
}

.players__container {
    box-shadow: 10px 10px 5px #aaaaaa;
    height: 47px;
}